/public
/node_modules
/public/hot
/storage/*.key
/vendor
*.env
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/vendor/
/node_modules/
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*
.env
.env.*
.phpunit.result.cache

/.vscode/
